.carousel-actions {
    display: flex;
    position: relative;
    justify-content: space-between;
    top:-180px;
    button {
      border: none;
      border-radius: 2px;
      background-color: darkcyan;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: white;
      cursor: pointer;
  
      &[disabled] {
        background-color: lightgray;
        cursor: auto;
      }
    }
  }