<div class="pagination">
    <button [disabled]="value.page === 1" (click)="selectPage(1)"><<</button>
    <button [disabled]="value.page === 1" (click)="selectPage(value.page - 1)">
      <
    </button>
    <button
      *ngFor="let page of visiblePages"
      [ngClass]="value.page === page && 'selected'"
      (click)="selectPage(page)"
    >
      {{ page }}
    </button>
    <button
      [disabled]="value.page === totalPages"
      (click)="selectPage(value.page + 1)"
    >
      >
    </button>
    <button
      [disabled]="value.page === totalPages"
      (click)="selectPage(totalPages)"
    >
      >>
    </button>
  </div>
  
  