.pagination {
    display: flex;
    margin-bottom: 4px;
  
    button {
      border: none;
      border-radius: 2px;
      background-color: darkcyan;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      color: white;
      cursor: pointer;
  
      &[disabled] {
        background-color: lightgray;
        cursor: auto;
      }
  
      &.selected {
        background-color: darkslategrey;
      }
  
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
  
  select {
    display: block;
    border: 1px solid darkslategrey;
    border-radius: 2px;
    width: 38px;
    height: 30px;
    margin: 0 auto;
  }
  